@{
    ViewBag.Title = "searchResult";
    Layout = "~/Views/Shared/_LayoutView.cshtml";
}
@model KhuyenNong.Models.searchResult


<h2>Search result for "@Model.keysword"</h2>
<div>
    @{
        int length = Model.row.Count;
        foreach (var i in Model.row)
        {

            <table style="margin: 0 250px;">
                <tr>
                    <td>
                        <h3><a href="#" style="color:blue">@i.Title</a></h3>
                    </td>
                </tr>
                <tr>
                    <td>
                        <h5>@i.Contains.Substring(0,256)</h5>
                    </td>
                </tr>

            </table>
        }
    }
</div>   