@{
    ViewBag.Title = "Detail_3";
    Layout = "~/Views/Shared/_LayoutView.cshtml";
}

<head>
    <title>Trung tâm Khuyến nông 46 - Bài viết</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" type="text/css" href="~/Assets/HomePage/style.css" />
    <!--[if lte IE 6]><link rel="stylesheet" type="text/css" href="ie.css" /><![endif]-->
</head>
<body>
    <!-- BEGIN wrapper -->
    <div id="wrapper">

        <!-- BEGIN content -->
        <div id="content">
            <!-- begin post -->
            <div class="single">
                <h2>HIỆU QUẢ MÔ HÌNH CƠ GIỚI HÓA NÔNG NGHIỆP – MÁY XỚI ĐẤT</h2>
                <p> Cùng với sự phát triển kinh tế chung của cả nước, thì đời sống của nông dân ngày nay đã được cải thiện rõ rệt, có nhiều hộ vươn lên thoát nghèo và làm giàu trên chính những mảnh vườn, công đất của mình. Để có được những thành quả đó, là nhờ sự hỗ trợ, giúp đỡ của các cấp các ban ngành, trong đó không thể không nhắc đến ngành Khuyến Nông.</p>
                <p><img class="alignright" src="~/Assets/HomePage/images/kn3.jpg" width="200" height="150" alt="" /></p>
                <p>Khuyến nông là một trong những ngành luôn sâu sát với bà con nông dân trên từng cánh đồng, từng trang trại. Cụ thể như Trạm Khuyến nông huyện Bình Chánh   trực thuộc Trung Tâm Khuyến nông thành phố đã giúp nông dân ở địa phương có nhiều hiểu biết về khoa học kỹ thuật, cung cấp cây, con giống và thực hiện nhiều mô hình sản xuất có hiệu quả cao ở nhiều địa phương như: mô hình trồng rau an toàn theo quy trình VietGAP, mô hình trồng hoa lan, mô hình sử dụng phân hữu cơ trên cây rau… Trong đó, mô hình sử dụng các thiết bị cơ giới hóa trong sản xuất nông nghiệp đã góp phần vào việc nâng cao sản lượng cũng như kinh tế của từng nông dân. </p>
                <p>Một trong những thiết bị cơ giới hóa được bà con nông dân xã Tân Quý Tây sử dụng và công nhận sự hữu ích chính là máy xới đất. Với sự thông minh, tiện lợi của máy xới đất đã giúp bà con nông dân tiết kiệm được thời gian, công sức và cả chi phí khi sử dụng. Cụ thể, sau khi so sánh tiền công lao động bằng chân tay và làm đất bằng máy cho thấy, nếu thuê người cuốc đất trên 1.000m2 để trồng rau  phải tốn khoảng 01 triệu đồng, cũng trên diện tích đó mà sử dụng máy xới đất chỉ tốn khoảng 350.000đ (phí tiền xăng và tiền công). Vậy lợi ích được 65% tiền công làm đất, tiết kiệm được thời gian, không những vậy chất lượng đất được xới nhuyễn hơn,… </p>
                <p>Thực tế cho thấy nhờ có máy xới đất mà một năm nông dân có thể sản xuất từ 6 – 7 vụ rau/năm, sản phẩm làm ra đạt năng suất, chất lượng cao, nên được các HTX thu mua với giá ổn định, giúp cuộc sống nông dân ở địa phương ngày càng nâng cao. Từ lợi ích đó có nhiều hộ đã nhân rộng diện tích đất trồng của mình lên nhiều hơn và đều sử dụng các thiết bị cơ giới hóa trong nông nghiệp, như ở ấp 1, xã Phường Bình Hưng Hòa B, có hộ ông Trung Sĩ Nghĩ, Nguyễn Văn Chân,… ở ấp 4 có hộ ông Lê Ngọc Lợi, Lại Văn Hùng,… </p>
                <p>Chính sự quan tâm sâu sát của Trung tâm khuyến nông thành phố đã giúp nhiều hộ nông dân ở xã Tân Quý Tây, huyện Bình Chánh, thành phố Hồ Chí Minh, có cuộc sống no đủ hơn, góp phần vào việc xây dựng nền kinh tế sản xuất nông nghiệp từng bước được nâng lên và trường tồn. Là một nông dân chính gốc, tôi mong rằng những chương trình thiết thực từ Khuyến nông như trên sẽ được nhân rộng ở nhiều địa phương trên cả nước để bà con được hưởng lợi và phát triển kinh tế cho từng hộ gia đình nói riêng và cả nền nông nghiệp nói chung.</p>

                

            </div>
            <!-- end post -->
        </div>
        <!-- END content -->


    </div>
    <!-- END wrapper -->
</body>
</html>


