@{
    ViewBag.Title = "Detail_7";
    Layout = "~/Views/Shared/_LayoutView.cshtml";
}

<head>
    <title>Trung tâm Khuyến nông 46 - Bài viết</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" type="text/css" href="~/Assets/HomePage/style.css" />
    <!--[if lte IE 6]><link rel="stylesheet" type="text/css" href="ie.css" /><![endif]-->
</head>
<body>
    <!-- BEGIN wrapper -->
    <div id="wrapper">

        <!-- BEGIN content -->
        <div id="content">
            <!-- begin post -->
            <div class="single">
                <h2>Nghệ núi Cấm: Trồng chơi kiếm cả chục triệu đồng</h2>
                <p>Trồng nghệ xen canh dưới tán cây vườn, không cần chăm sóc, bón phân nhưng chỉ sau vài tháng, người dân núi Cấm kiếm được cả chục triệu đồng. </p>
                <p><img class="alignright" src="~/Assets/HomePage/images/kn7.jpg" width="200" height="150" alt="" /></p>
                <p>Tận dụng đất trống dưới tán vườn cây ăn trái, người dân núi Cấm (xã An Hảo, huyện Tịnh Biên, tỉnh An Giang) cho trồng xen canh cây nghệ để tăng thu nhập. Tuy nhiên, đa số người dân ở đây đều để cây nghệ mọc tự nhiên mà không cần chăm sóc, không phân bón. Vì thế, nghệ ở núi Cấm rất săn chắc, vàng óng và rất thơm.</p>
                <p>Trong khu vườn gần 1.000 m2, anh Nguyễn Văn Lợi đang tất bật thu hoạch nghệ củ. “Năm rồi, loại nghệ này có giá khoảng 5.000 đồng/kg nhưng năm nay thương lái vào thu mua tận nơi với giá gấp đôi. Chỉ mới thu hoạch mấy ngày nay nhưng đã được trên 100 kg. Dự kiến, khu vườn này có thể thu hoạch được một tấn củ”, anh Lợi cho hay.</p>
                <p>Tương tự, ông Trần Văn Hải, một hộ dân trên núi Cấm, cho biết cũng nhờ trồng xen canh thêm hơn 2 công đất nghệ mà gia đình ông kiếm thêm thu nhập để nuôi con cái ăn học.</p>
                <p>Theo UBND xã An Hảo, núi Cấm hiện có trên 600 hộ dân sinh sống. Đa số người dân sống bằng nghề trồng trọt xen canh nhiều loại cây trái, qua đó cho thu nhập khá ổn định, giải quyết công ăn việc làm cho lao động địa phương.</p>

            </div>
            <!-- end post -->
        </div>
        <!-- END content -->


    </div>
    <!-- END wrapper -->
</body>



