@{
    ViewBag.Title = "Detail_2";
    Layout = "~/Views/Shared/_LayoutView.cshtml";
}

<head>
    <title>Trung tâm Khuyến nông 46 - Bài viết</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" type="text/css" href="~/Assets/HomePage/style.css" />
    <!--[if lte IE 6]><link rel="stylesheet" type="text/css" href="ie.css" /><![endif]-->
</head>
<body>
    <!-- BEGIN wrapper -->
    <div id="wrapper">

        <!-- BEGIN content -->
        <div id="content">
            <!-- begin post -->
            <div class="single">
                <h2>Lượng giá mô hình cơ giới hóa trên rau</h2>
                <p>Để chuyển giao các kiến thức liên quan đến cơ giới hóa trên cây rau theo định hướng phát triển chuyển đổi cơ cấu kinh nông nghiệp đô thị, giúp nông dân tăng thu nhập, ổn định kinh tế, Trạm Khuyến nông huyện Củ Chi trực thuộc Trung tâm Khuyến nông thành phố đã triển khai mô hình trình diễn cơ giới hóa máy phun thuốc trong trồng rau.  </p>
                <p><img class="alignright" src="~/Assets/HomePage/images/kn2.jpg" width="200" height="150" alt="" /></p>
                <p>Qua 06 tháng triển khai mô hình, Trạm Khuyến nông huyện đã tổ chức lượng giá mô hình tại xã Trung Lập Thượng. Đến tham dự lượng giá có đại diện các phòng ban Trung tâm, các cán bộ kỹ thuật của Trạm, cùng đông đảo bà con nông dân trên địa bàn.</p>
                <p> Mô hình được triển khai 10 máy phun thuốc mang vai hiệu Honda cho 10 hộ trồng rau tại xã Trung Lập Thượng. Các nông dân đều nhận thấy hiệu quả từ máy phun thuốc hoạt động bền, ít tiêu hao nhiên liệu, áp suất phun đảm bảo đều khắp ruộng rau, tiết kiệm chi phí sản xuất, công lao động và thời gian sử dụng, lợi nhuận thu được 586.000đ/ 01ha / 01 lần phun, thời gian phun rút ngắn 1,5 lần và giảm 01 lần phun (04 lần) so với bình bơm tay (05 lần), tiết kiệm được 1.350.000đ. Như vậy, sử dụng máy phun thuốc trên 01 ha, mỗi vụ tiết kiệm được: (5.86.000đ x 4) + 1.350.000đ = 3.694.000đ, góp phần tăng năng suất rau, giảm giá thành sản phẩm xuống 12% (Giá thành sản xuất rau bằng thủ công là 2.805đ tương đương 100%, trong khi đó giá thành sản xuất rau bằng máy phun là 2.479đ tương đương 88%).</p>
                <p>Đại diện Trung tâm Khuyến nông thành phố, bà Trần Bùi Thị Ngọc Lê – Trưởng phòng Kỹ thuật Trung tâm Khuyến nông ghi nhận ý kiến của nông dân và định hướng về việc sử dụng cơ giới hóa trong trồng rau: “Người dân nên thay đổi tập quán canh tác, chọn lọc và sử dụng các thiết bị cơ giới hóa, nhằm nâng cao chất lượng sản phẩm cũng như thu nhập cho nông hộ được ổn định để chủ động hơn khi Việt Nam gia nhập TPP - Hiệp định Đối tác Kinh tế chiến lược xuyên Thái Bình Dương”.</p>
                

            </div>
            <!-- end post -->
        </div>
        <!-- END content -->


    </div>
    <!-- END wrapper -->
</body>
</html>


