@{
    ViewBag.Title = "Detail_8";
    Layout = "~/Views/Shared/_LayoutView.cshtml";
}

<head>
    <title>Trung tâm Khuyến nông 46 - Bài viết</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" type="text/css" href="~/Assets/HomePage/style.css" />
    <!--[if lte IE 6]><link rel="stylesheet" type="text/css" href="ie.css" /><![endif]-->
</head>
<body>
    <!-- BEGIN wrapper -->
    <div id="wrapper">

        <!-- BEGIN content -->
        <div id="content">
            <!-- begin post -->
            <div class="single">
                <h2>Trồng cỏ nuôi bò xen trong vườn dừa hiệu quả kinh tế cao</h2>
                <p>Hiện nay toàn xã Phú Long huyện Bình Đại có trên 800 ha dừa, đây là một trong những xã có diện tích dừa lớn nhất của huyện. Tuy nhiên thời gian gần đây do dừa trái rớt giá nên thu nhập từ vườn dừa không cao, trong khi đa phần người trồng dừa ở Phú Long đang gặp nhiều khó khăn do thu nhập thấp, thì ngược lại có những hộ đất trồng dừa cho thu nhập khá cao, vì những hộ nầy biết tận dụng trồng xen nuôi xen trong vườn dừa. Điển hình là hộ ông Phạm văn Út – ấp Giồng Kiến xã Phú Long. </p>
                <p><img class="alignright" src="~/Assets/HomePage/images/kn9.jpg" width="200" height="150" alt="" /></p>
                <p>Sau khi xuất ngũ năm 1979, là thương binh hạng ¾ ông Phạm văn Út trở về đời thường với đôi bàn tay trắng, vì không đất sản xuất nên ông phải làm thuê, làm mướn khắp nơi từ Cà Mau, Đồng Tháp nhưng vẫn không đủ sống.</p>
                <p>Cuối cùng ông trở về quê nhà. Với ý chí của người lính ông không cam chịu số phận, luôn phấn đấu vươn lên bằng chính sức lao động của mình. Mặc dù chiến trường Tây Nam đã cướp đi 50% sức lao động nhưng ông vẫn làm ngày làm đêm lo cho cuộc sống gia đình. Nhờ cần mẫn chăm chỉ và biết tính toán trong làm ăn nên không lâu sau ông đã tích lũy mua được 6 công đất ruộng phía ngoài Đê Tây. Nói đất ruộng nhưng thật ra đây là đất hoang hóa, vì lúc này chưa có Cống đập Ba Lai nên khu vực nầy hầu hết diện tích đất sản xuất không hiệu quả. Sau khi mua đất vợ chồng ông  bắt tay vào cải tạo để trồng mía, trồng lúa, nhưng hiệu quả không cao. Dù vậy, ông vẫn không nản chí và quyết tâm làm cho đến khi nào thành công. Dần dần về sau khi cống đập Ba Lai bắt đầu phát huy hiệu quả, ông đã lên liếp trồng dừa. Ông suy nghĩ trồng dừa phải mất vài năm mới có thu nhập, vậy trong thời gian nầy gia đình sống bằng nguồn nào.</p>
                <p>Nghĩ vậy, nên ông quyết định trồng cỏ nuôi bò, mới đầu chỉ nuôi 2 con bò nái và trồng một ít cỏ, sau khi có hiệu quả ông bắt đầu nhân rộng ra, đến nay đàn bò có 10 con nái, mỗi năm đẻ từ 7 đến 8 bò con và từ 6 công đất, nay có 1,6 ha. Toàn bộ diện tích đất đều được trồng dừa và trồng xen cỏ, trong đó có 1 ha dừa cho trái được 2 năm, số còn lại đang bắt đầu cho trái. Mặc dù gần đây dừa trái rớt giá, nhưng bù lại giá bò thịt tăng cao nên nguồn thu nhập luôn ổn định.
     Ông Út tâm sự: “Nếu như trước đây tôi không trồng xen cỏ nuôi bò mà chỉ dựa vào cây dừa thì kinh tế không có được như ngày hôm nay, đặc biệt là trong thời điểm nầy giá dừa quá thấp thì cuộc sống lại càng vất vã hơn. Do đó trồng dừa phải có trồng xen, nuôi xen thì mới có hiệu quả cao, cây dừa không thể đứng lẻ loi một mình trước giá cả bấp bênh như hiện nay”</p>
                <p>Không chỉ biết tính toán trong sản xuất mà ông còn cần mẫn, siêng làm nên vườn cỏ luôn xanh tươi, phủ kín bờ dừa, hiện tại ông có 15 con bò lớn nhỏ, nhưng vào mùa mưa cỏ cho bò ăn không hết, nhờ nguồn thức ăn dồi dào cộng với khâu chăm sóc kỹ, đàn bò phát triển khá tốt.
Bò đẻ ra nuôi khoảng 5 tháng thì có thể xuất bán giá từ 10 triệu đến 15 triệu đồng/con tùy theo giống bò, riêng bò nái đẻ khoảng 20 triệu/con. Từ tiền bán bò và dừa trái mỗi năm gia đình ông thu nhập từ 80 đến 100 triệu đồng. Ngoài ra tận dụng nguồn phân bò để bón cho dừa và trồng cỏ nên giãm được chi phí trong sản xuất.</p>

                <p>Nhờ biết tận dụng trồng xen, nuôi xen mà từ đôi bàn tay trắng nay ông Phạm văn Út có cơ ngơi khá vững chắc, cùng với 1,6 ha đất và đàn bò, căn nhà khang trang được xây dựng lên từ công sức của vợ chồng ông trong những năm tháng lao động cực nhọc. Ngoài ra ông còn nuôi dạy con cái ăn học thành tài. Mô hình trồng cỏ nuôi bò xen trong vườn dừa của ông Phạm văn Út là một hiệu quả thực tế chứng minh cho việc trồng xen nuôi xen trong vườn dừa, để người trồng dừa trong huyện Bình Đại có thể học tập nhân rộng. </p>

            </div>
            <!-- end post -->
        </div>
        <!-- END content -->


    </div>
    <!-- END wrapper -->
</body>



