@{
    ViewBag.Title = "Detail_6";
    Layout = "~/Views/Shared/_LayoutView.cshtml";
}

<head>
    <title>Trung tâm Khuyến nông 46 - Bài viết</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" type="text/css" href="~/Assets/HomePage/style.css" />
    <!--[if lte IE 6]><link rel="stylesheet" type="text/css" href="ie.css" /><![endif]-->
</head>
<body>
    <!-- BEGIN wrapper -->
    <div id="wrapper">

        <!-- BEGIN content -->
        <div id="content">
            <!-- begin post -->
            <div class="single">
                <h2>Tỷ phú nông dân với thương hiệu 'Chanh không hạt Vica'</h2>
                <p>Tại Long An, trong số những người giàu lên từ nông nghiệp, bà Bùi Thị Ba ở xã Lương Hòa, huyện Bến Lức được xem là thành công cả về sản xuất và kinh doanh. Nhiều năm trước, người nông dân ở vùng đất nhiễm phèn nặng của huyện Bến Lức, tỉnh Long An phải gắn chặt sản xuất của mình với cây mía, bất chấp giá cả bấp bênh, bị o ép chữ đường hay sâu bệnh đe dọa. Đơn giản chỉ vì không cây trồng nào thay thế được cây mía.</p>
                <p><img class="alignright" src="~/Assets/HomePage/images/kn6.jpg" width="200" height="150" alt="" /></p>
                <p>Giờ thì mọi chuyện đã khác, cả một vùng trồng chanh rộng lớn được mở ra, tồn tại song song với cây mía, hiệu quả kinh tế cao hơn hẳn, ngay trên chính mảnh đất “nắng thì khô hạn, mưa thì dậy phèn” này. Trong đó, bà Bùi Thị Ba ở xã Lương Hòa là người đầu tiên đưa cây chanh không hạt về đây trồng và xây dựng nên thương hiệu “Chanh không hạt Vica” có mặt khắp các siêu thị trong nước, xuất khẩu sang các nước Trung Đông, Singapore, Thái Lan…
    Bà Bùi Thị Ba đang trồng 30 ha chanh không hạt với thương hiệu “Nông trang Hải Âu”, thu lợi gần 2 tỷ đồng mỗi năm. Đồng thời, mỗi ngày gia đình bà xuất khẩu 1 container 40 feet “Chanh không hạt Vica”. Chanh này được lấy nguồn từ nông trang Hải Âu cùng gần 200 nông hộ trồng chanh tại huyện Bến Lức, tỉnh Long An và một số nơi ở tỉnh Hậu Giang.</p>
                <p>Tuy nhiên, có được thành công như hiện nay, bà Bùi Thị Ba và gia đình đã trải qua rất nhiều thăng trầm như những nông dân khác, trải qua thất bại của việc trồng mía - làm lò đường thủ công, nuôi gà công nghiệp…
    Năm 2006, bà Ba bắt đầu trồng 2 ha chanh không hạt, đến lúc thu hoạch không biết bán cho ai vì loại chanh quá lạ. Con trai bà Ba đã phải bỏ công việc đang làm, rong ruổi 2 tháng trời khắp các quán ăn, nhà hàng, khách sạn, siêu thị tại TP HCM để mời dùng thử chanh. Sau khi tiếp cận được thị trường, chanh của bà Ba trồng không đủ bán và một doanh nghiệp đến đặt vấn đề xuất khẩu.
    Năm 2008, bà Bùi Thị Ba đứng ra xuất khẩu chanh của gia đình, cùng lúc một số nông dân khác đã mạnh dạn trồng chanh không hạt. Nhưng phải đến năm 2011, công việc xuất khẩu chanh mới trở nên quy mô, bài bản như bây giờ. Bà Ba thuê thêm đất, mở rộng diện tích trồng chanh và bỏ ra 800 triệu đồng thuê thợ cơ khí cùng bà tự mày mò, chế tạo máy làm sạch và phân loại chanh.
    “Năm 2006 cây chanh mới có trái ra siêu thị, lúc đó chanh ta có 1.000 đồng/kg, nhưng chanh không hạt tới 14.000/kg. Nông dân xung quanh thấy vậy liền trồng theo và mình thành thương lái bất đắc dĩ. Mới đầu mình trồng để bán, rồi bán không được nên phải tự đi tìm mối cho mình. Khi bán được rồi, có mối rồi thì lại thiếu chanh, phải đi sang Hậu Giang, Bến Tre mua gom cũng chỉ được mỗi nhà 5kg - 10kg. Thấy vậy không ổn chút nào, không phải biện pháp khả thi nên mình đi thuê đất trồng chanh”, bà Ba kể.</p>
                <p> Luôn cố gắng tham gia tất cả các cuộc chuyển giao khoa học kỹ thuật, chủ động tìm gặp nhà khoa học để tìm lời giải đáp cho những thắc mắc, bà Bùi Thị Ba trở thành một nông dân sản xuất giỏi, có thể truyền đạt kiến thức, kinh nghiệm cho những nông dân khác. Luôn đòi hỏi bản thân phải tìm thêm đối tác mới, thị trường mới, bà Bùi Thị Ba trở thành một doanh nhân tiêu thụ nông sản cho chính gia đình mình cùng hàng trăm gia đình khác.
    Những người tiếp xúc với bà Ba dễ dàng nhận ra khả năng nhạy bén, nắm bắt kỹ thuật mới, xu hướng đón đầu trong sản xuất kinh doanh - điều rất cần thiết của nông dân trong giai đoạn hội nhập.</p>
                <p>Chị Phạm Thị Thanh Tuyền trồng 1,5 ha chanh không hạt ở xã Lương Hòa, mỗi tháng thu hoạch 3 tấn chanh, được nông trại của bà Ba bao tiêu sản phẩm. Chị Tuyền cho biết, chanh không hạt hiện tại có đầu ra ổn định, nông dân chưa ai lo lắng gì về việc không bán ra được chanh. Bà Ba chủ cơ sở lại rành kỹ thuật nên mọi người trồng chanh cần hỗ trợ kỹ thuận đều học hỏi kinh nghiệm từ bà.
    Bằng sự tiên phong, năng động của bà Bùi Thị Ba, diện tích chanh không hạt ở xã Lương Hòa từ con số 0 đã phát triển lên gần 400 ha và sẽ tăng thêm 300 - 500 ha trong thời gian tới. Cây chanh không hạt đã trở thành một trong số những cây trồng chủ lực của xã, đem lại hiệu quả kinh tế cao, góp phần nâng cao thu nhập, làm thay đổi bộ mặt nông thôn.
    Ông Huỳnh Thành Tâm, Chủ tịch UBND xã Lương Hòa, huyện Bến Lức cho biết, trong khi việc quy hoạch cây trồng vật nuôi, cơ cấu sản xuất nông nghiệp của xã đang ở thế bị động, các điển hình nông dân sản xuất giỏi trong xã đã có những hướng đi mới để phát triển. Cơ sở của bà Bùi Thị Ba với thương hiệu chanh Vica xuất khẩu, đảm bảo tiêu thụ ổn định toàn bộ số chanh của nông dân trên địa bàn chính là hướng giải quyết được đầu ra cho nguồn nông sản.</p>

                <p>Từ việc trồng đến xuất khẩu chanh không hạt, bà Bùi Thị Ba đã thành công từ khả năng am hiểu chính mảnh đất của mình, mạnh dạn tìm và trồng loại cây phù hợp, có hiệu quả kinh tế. Đây cũng chính là sự kết hợp có hiệu quả của “ba nhà” với sự định hướng của nhà quản lý nông nghiệp, vai trò tư vấn của nhà khoa học và sự dám nghĩ dám làm của nhà nông.</p>

            </div>
            <!-- end post -->
        </div>
        <!-- END content -->


    </div>
    <!-- END wrapper -->
</body>


