@{
    ViewBag.Title = "Detail_4";
    Layout = "~/Views/Shared/_LayoutView.cshtml";
}

<head>
    <title>Trung tâm Khuyến nông 46 - Bài viết</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" type="text/css" href="~/Assets/HomePage/style.css" />
    <!--[if lte IE 6]><link rel="stylesheet" type="text/css" href="ie.css" /><![endif]-->
</head>
<body>
    <!-- BEGIN wrapper -->
    <div id="wrapper">

        <!-- BEGIN content -->
        <div id="content">
            <!-- begin post -->
            <div class="single">
                <h2>Hiệu quả từ mô hình áp dụng chuỗi liên kết sản xuất tiêu thụ cá tra</h2>
                <p>Trong khi nhiều hộ nuôi cá tra thua lỗ phải treo ao, ngừng nuôi thì gia đình ông Nguyễn Văn Phú ở ấp Hòa Khánh, xã Vĩnh Thới, huyện Lai Vung, tỉnh Đồng Tháp vẫn “sống khỏe” với mô hình nuôi cá tra theo chuỗi liên kết sản xuất tiêu thụ. </p>
                <p><img class="alignright" src="~/Assets/HomePage/images/kn4.jpg" width="200" height="150" alt="" /></p>
                <p>Ấp ủ từ lâu nhưng đến đầu năm 2007 ông Nguyễn Văn Phú mới quyết định khởi nghiệp nghề nuôi cá tra trên diện tích 1,2ha. Ông Phú cho biết, khởi đầu gặp nhiều khó khăn do chưa nắm bắt kỹ thuật nuôi, vay vốn ngân hàng không thuận lợi, mua thức ăn phải trả tiền mặt, chi phí đầu tư ngày càng tăng, giá cá bấp bênh, doanh nghiệp thu mua ép giá, chậm trả tiền... Trước tình hình đó, ông nghiệm ra rằng, muốn nuôi cá tra bền vững phải có đầu vào và đầu ra ổn định. Sau những vụ nuôi gian nan, qua tìm hiểu thấy một số hộ xung quanh nuôi gia công ổn định được đầu ra, nên ông quyết định liên kết với Công ty TNHH Hùng Vương. Đến năm 2010, ông liên kết với Công ty Sao Mai và tăng diện tích sản xuất lên 2,8ha.</p>
                <p>Về hình thức, khi liên kết với doanh nghiệp, ông Phú cho hay chỉ cần chuẩn bị ao, con giống có chất lượng tốt, chăm sóc đúng quy trình kỹ thuật, hạn chế dịch bệnh; phía doanh nghiệp chịu trách nhiệm giao thức ăn cho đến khi thu hoạch với hệ số thức ăn là 1,52. Ngoài ra, khi có dịch bệnh xảy ra, công ty sẽ cử cán bộ kỹ thuật xuống hỗ trợ phòng trị bệnh. Như vậy, trừ đi các khoản chi phí thì người nuôi lợi nhuận từ 500 - 1.000 đồng/kg cá thương phẩm.</p>
                <p>Tuy nhiên, qua nhiều năm liên kết hợp đồng với công ty, ông nhận thấy vẫn còn một số bất cập, đó là các điều khoản ghi trong hợp đồng thường có lợi cho bên mua (doanh nghiệp). Cụ thể như: doanh nghiệp có quyền hủy hợp đồng, có quyền không nhận nguyên liệu khi bị ứ đọng, cá quá lứa làm tăng hệ số thức ăn; thời gian chi trả lợi nhuận thường bị kéo dài hơn so với hợp đồng đã ký... còn người nuôi cá thì không có quyền hủy hợp đồng, luôn ở thế yếu và bị động so với doanh nghiệp.</p>
                <p>Để tạo mối quan hệ bình đẳng và gắn kết lâu dài với doanh nghiệp, theo ông Phú, nông dân cần liên kết lại thành nhóm (tổ hợp tác, hợp tác xã) để thương lượng, ký kết hợp đồng một cách bình đẳng với doanh nghiệp trên cơ sở chia sẻ lợi nhuận hài hòa giữa 2 bên. Song song đó, nông dân rất cần được hỗ trợ từ các ngành chức năng, các bên có liên quan trong vấn đề thông tin thị trường, về pháp lý, cách xây dựng hợp đồng đôi bên cùng có lợi. Ngoài ra, cần quản lý chặt chẽ chất lượng con giống, đây là khâu rất quan trọng trong nghề nuôi cá tra, bởi nó quyết định thành công của một vụ nuôi cũng như sự phát triển bền vững của liên kết sản xuất.....</p>

                

            </div>
            <!-- end post -->
        </div>
        <!-- END content -->


    </div>
    <!-- END wrapper -->
</body>
</html>


