@{
    ViewBag.Title = "Detail_5";
    Layout = "~/Views/Shared/_LayoutView.cshtml";
}

<head>
    <title>Trung tâm Khuyến nông 46 - Bài viết</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" type="text/css" href="~/Assets/HomePage/style.css" />
    <!--[if lte IE 6]><link rel="stylesheet" type="text/css" href="ie.css" /><![endif]-->
</head>
<body>
    <!-- BEGIN wrapper -->
    <div id="wrapper">

        <!-- BEGIN content -->
        <div id="content">
            <!-- begin post -->
            <div class="single">
                <h2>ANH BÙI MINH CHÂU: “HẠT NHÂN” TRÊN CÁNH ĐỒNG RAU VIETGAP</h2>
                <p>Nhằm góp phần tăng thu nhập cho người dân ngoại thành, cũng như đẩy nhanh quá trình xây dựng nông thôn mới, Tp.HCM đã triển khai xây dựng cánh đồng rau VietGAP, là rau an toàn được sản xuất đảm bảo 4 yêu cầu: không có dư lượng thuốc BVTV; không có kim loại nặng; không có hàm lượng nitrate; không có vi sinh vật gây hại. </p>
                <p><img class="alignright" src="~/Assets/HomePage/images/kn5.jpg" width="200" height="150" alt="" /></p>
                <p>Theo đó, cuối năm 2013 đầu năm 2014 Tổ rau VietGAP Trung Hiệp Thạnh – xã Trung Lập Thượng – huyện Củ Chi đã ra đời. Ban đầu Tổ thu hút 14 thành viên tham gia với diện tích 5ha, hiện nay con số này đã nâng lên 36 thành viên và gần 40 ha diện tích, dự kiến đến năm 2020 diện tích ở đây sẽ tăng lên khoảng 90ha. Đến tháng 6/2015 đã có 22/36 hộ (đạt 61% tổng số hộ) trong Tổ tiêu thụ sản phẩm theo phương thức ký kết hợp đồng với các HTX, lượng sản phẩm tiêu thụ tại cánh đồng rau là 03 tấn/ngày. </p>
                <p>Để đạt được những thành quả đó, ngoài sự hỗ trợ, giúp đỡ của Trung tâm Khuyến nông thành phố (TTKN TP), Trạm Khuyến nông huyện, các ban ngành chính quyền địa phương, thì sự nỗ lực phấn đấu của các thành viên trong Tổ cũng chính là động lực lớn tạo nên những kết quả đó. Một trong những thành viên được xem là “hạt nhân” góp phần xây dựng cánh đồng rau Trung Hiệp Thạnh có được những thành công như hiện nay chính là Tổ Phó tổ rau - anh Bùi Minh Châu (ở tổ 4, ấp Trung Hiệp Thạnh, xã Trung Lập Thượng, huyện Củ Chi). Nhân chuyến đi công tác tại địa phương, tôi có dịp gặp và trò chuyện cùng anh về quá trình anh đã tham gia và vận động các thành viên trong Tổ ký kết hợp đồng, bán rau cho các HTX, thay vì bán qua chợ đầu mối, tạo thu nhập đáng mừng cho các thành viên trong Tổ.</p>
                <p>Qua trò chuyện anh cho biết, trước đây nguồn thu nhập của nông dân ở xã chủ yếu là nhờ cây lúa, nhưng năng suất khá thấp (3 – 4 tấn/ha). Từ khi có nước từ kênh Đông, và nhất là khi (TTKN TP) triển khai dự án, chuyển giao tiến bộ KHKT, hỗ trợ giống, vật tư phân bón, áp dụng theo quy trình sản xuất rau VietGAP cho địa phương, thì đời sống bà con nông dân đã thay đổi rõ rệt. “Trồng rau theo hướng VietGAP bây giờ thu nhập cao gấp 2 - 3 lần làm lúa như trước đây”- anh Bùi Minh Châu nói.
     Minh chứng cho điều đó, anh chia sẻ lúc đầu gia đình anh có 3.000m2 đất chủ yếu trồng lúa và luân canh rau màu theo thời vụ, thấy loại nào giá cao trồng ngay loại đó, nên giá cả bấp bênh. Đến cuối năm 2013 đầu năm 2014, sau khi Cánh đồng rau Trung Hiệp Thạnh được thành lập với sự hỗ trợ của (TTKN TP) và sự hướng dẫn tận tình của các cán bộ kỹ thuật Trạm Khuyến nông huyện cùng các anh chị khuyến nông viên của xã dành cho bà con nông dân về quy trình, kỹ thuật sản xuất và thủ tục đăng ký làm VietGAP… anh đã học hỏi và làm theo. Kết quả mang lại nhiều lợi nhuận so với trồng rau theo thời vụ, nên anh bàn với gia đình quyết định chuyển 10.000m2 đất lúa sang chuyên canh trồng rau an toàn, với những cây chủ lực là bầu bí, dưa leo, khổ qua và mướp hương. Từ đó đến nay anh trồng luân phiên các cây chủ lực ấy từ bầu, bí, mướp, khổ qua, dưa leo... kiên quyết không để đất trống. Hiện tại, với 10.000m2 đất mỗi ngày anh cung cấp cho các HTX mua rau từ 300 - 400 kg rau. Những ngày cao điểm lên đến 500kg, như vậy mỗi tháng sau khi trừ hết chi phí, anh thu lãi về cho gia đình khoảng 20 triệu đồng/tháng.</p>
                <p> Kể đến quá trình tìm đầu ra cho sản phẩm, anh Châu nhớ lại những ngày ấy, dù sản phẩm tạo ra đạt số lượng và năng suất cao, nhưng để tìm đầu ra cho sản phẩm cũng là điều mà anh và các thành viên trong Tổ canh cánh lo lắng. Anh kể: “Khi ấy, sản phẩm thu hoạch xong tại ruộng được nhà vườn sơ chế và đóng gói vào xe tải chuyển về các sạp phân phối tại Chợ đầu mối rau Tân Xuân huyện Hóc Môn, tiền thu được từ sản phẩm bán đi được trả sau đó, giá cả sản phẩm người nông dân không được quyết định phụ thuộc vào thương lái tùy sản phẩm, tùy buổi chợ”.
     Theo hình thức tiêu thụ này, sau khi chủ vựa rau trừ chi phí vận chuyển, phí lưu kho, dịch vụ vựa chào bán theo %, tiền lãi từ dịch vụ của chủ vựa. Sau đó còn bao nhiêu tiền mới trả cho số lượng sản phẩm mà nhà vườn cung cấp. Đến tháng 06/2015 nhờ có sự quan tâm của (TTKN TP), Trạm Khuyến nông Củ Chi và chính quyền địa phương đã giới thiệu một số đơn vị tiêu thụ rau ăn quả theo hợp đồng đến ký kết làm ăn với các thành viên trong tổ rau, cụ thể là HTX Nhuận Đức và Phú Lộc, vậy là sản phẩm rau của gia đình đã tìm được nguồn cung cấp. Anh chia sẻ: “Với hình thức làm ăn mới, ban đầu thành viên trong Tổ rau còn e ngại do cách suy nghĩ theo kiểu cũ. Bản thân tôi và gia đình đã mạnh dạn xung phong ký hợp đồng tiêu thụ sản phẩm rau ăn quả trong vụ sản xuất với HTX thương mại – dịch vụ Phú lộc, đồng thời vận động một số thành viên trong tổ ký hợp đồng tiêu thụ sản phẩm rau ăn quả với các đơn vị thu mua khác trên địa bàn”.
     Kết quả của vụ tiêu thụ sản phẩm rau ăn quả theo hợp đồng, theo ghi nhận của các thành viên trong Tổ rau cho thấy: Về giá cả: Sản phẩm làm ra được thu mua với giá thỏa thuận ngay từ đầu vụ sản xuất như giá bầu, bí và cả vụ 5.500đ/kg, giá dưa leo, khổ qua cả vụ 6.000đ/kg. Bên cạnh đó hợp đồng còn có hướng mở khi giá thị trường xuống thấp thì đơn vị thu mua vẫn mua theo giá hợp đồng đã ký, còn khi giá sản phẩm rau trên thị trường tăng cao thì đơn vị thu mua hỗ trợ 3.000đ/kg cao nhất sản phẩm tùy theo chủng loại; Về chủng loại, sản phẩm: các thành viên trong tổ rau an tâm sản xuất vì rau có kế hoạch cụ thể của từng thành viên sản xuất chủng loại, diện tích của vụ tiếp theo, theo hợp đồng tiêu thụ đơn vị thu mua toàn bộ sản phẩm của hộ từ đầu vụ đến cuối vụ.</p>

                <p>Theo lời anh Ngô Văn Lâm - thành viên trong Tổ rau nhận xét: “Anh Châu là một trong những thành viên mạnh dạn và tích cực với việc xây dựng Tổ rau, nhất là trong việc vận động bà con tham gia ký hợp đồng tiêu thụ sản phẩm rau ăn quả theo HTX. Không những dành nhiều thời gian học hỏi cách thức chăm sóc rau từ các cán bộ kỹ thuật, các hộ trong Tổ, mà anh còn tìm đọc thêm tài liệu, sách, báo, tham gia các lớp chuyển giao khoa học - kĩ thuật, lớp tập huấn rau an toàn do Trạm khuyến nông huyện tổ chức để có thêm kinh nghiệm, áp dụng cho việc sản xuất rau theo tiêu chuẩn VietGAP đạt hiệu quả cao”.</p>

            </div>
            <!-- end post -->
        </div>
        <!-- END content -->


    </div>
    <!-- END wrapper -->
</body>



