@{
    ViewBag.Title = "Trang chủ_1234";
    Layout = "~/Views/Shared/_LayoutView.cshtml";
}

<link rel="stylesheet" type="text/css" href="~/Assets/HomePage/style.css" />
<!-- BEGIN wrapper -->
<div id="wrapper">

    <div id="content">
        <!-- begin post -->
        <div class="post">
            <div class="thumb"><a href="#"><img src="~/Assets/HomePage/images/kn1.jpg" alt="" /></a></div>
            <h2><a href="#">Khoai lang xuất khẩu tăng giá</a></h2>
            <p class="date">16:00 28/11/2015</p>
            <p>Hiện thương lái tìm mua khoai lang tím Nhật với giá 800.000 - 850.000 đồng/tạ (tính 60kg/tạ), tăng gấp nhiều lần so với thời điểm quý 2-2015 giá chỉ 100.000 - 150.000 đồng/tạ. Giá khoai tăng do nhu cầu xuất khẩu sang thị trường Trung Quốc đang hút hàng và vụ khoai ở ĐBSCL đang vào mùa nghịch nên sản lượng rất ít....</p>
            <a class="continue" href="#">Đọc tiếp</a>
        </div>
        <!-- end post -->
        <!-- begin post -->
        <div class="post">
            <div class="thumb"><a href="#"><img src="~/Assets/HomePage/images/kn2.jpg" alt="" /></a></div>
            <h2><a href="#">Lượng giá mô hình cơ giới hóa trên rau</a></h2>
            <p class="date">15:50 28/11/2015</p>
            <p> Để chuyển giao các kiến thức liên quan đến cơ giới hóa trên cây rau theo định hướng phát triển chuyển đổi cơ cấu kinh nông nghiệp đô thị, giúp nông dân tăng thu nhập, ổn định kinh tế, Trạm Khuyến nông huyện Củ Chi trực thuộc Trung tâm Khuyến nông thành phố đã triển khai mô hình trình diễn cơ giới hóa máy phun thuốc trong trồng rau. </p>
            <a class="continue" href="#">Đọc tiếp</a>
        </div>
        <!-- end post -->
        <!-- begin post -->
        <div class="post">
            <div class="thumb"><a href="#"><img src="~/Assets/HomePage/images/kn3.jpg" alt="" /></a></div>
            <h2><a href="#">Hiệu quả mô hình cơ giới hóa nông nghiệp</a></h2>
            <p class="date">15:45 28/11/2015</p>
            <p>Khuyến nông là một trong những ngành luôn sâu sát với bà con nông dân trên từng cánh đồng, từng trang trại. Cụ thể như Trạm Khuyến nông huyện Bình Chánh trực thuộc Trung Tâm Khuyến nông thành phố đã giúp nông dân ở địa phương có nhiều hiểu biết về khoa học kỹ thuật, cung cấp cây,....</p>
            <a class="continue" href="#">Đọc tiếp</a>
        </div>
        <!-- end post -->
        <!-- begin post -->
        <div class="post">
            <div class="thumb"><a href="#"><img src="~/Assets/HomePage/images/kn4.jpg" alt="" /></a></div>
            <h2><a href="#">Hiệu quả áp dụng chuỗi liên kết sản xuất</a></h2>
            <p class="date">15:45 28/11/2015</p>
            <p>Trong khi nhiều hộ nuôi cá tra thua lỗ phải treo ao, ngừng nuôi thì gia đình ông Nguyễn Văn Phú ở ấp Hòa Khánh, xã Vĩnh Thới, huyện Lai Vung, tỉnh Đồng Tháp vẫn “sống khỏe” với mô hình nuôi cá tra theo chuỗi liên kết sản xuất tiêu thụ.
    Ấp ủ từ lâu nhưng đến đầu năm 2007 ông Nguyễn Văn Phú mới...</p>
            <a class="continue" href="#">Đọc tiếp</a>
        </div>
        <!-- end post -->
        <!-- begin post -->
        <div class="post">
            <div class="thumb"><a href="#"><img src="~/Assets/HomePage/images/kn5.jpg" alt="" /></a></div>
            <h2><a href="#">ANH BÙI MINH CHÂU: “HẠT NHÂN” TRÊN CÁNH ĐỒNG RAU VIETGAP</a></h2>
            <p class="date">15:40 28/11/2015</p>
            <p> Nhằm góp phần tăng thu nhập cho người dân ngoại thành, cũng như đẩy nhanh quá trình xây dựng nông thôn mới, Tp.HCM đã triển khai xây dựng cánh đồng rau VietGAP, là rau an toàn được sản xuất đảm bảo 4 yêu cầu: không có dư lượng thuốc BVTV; không có kim loại nặng; không có hàm lượng nitrate; không có vi sinh vật gây hại. </p>
            <a class="continue" href="#">Đọc tiếp</a>
        </div>
        <!-- end post -->
        <!-- begin post -->
        <div class="post">
            <div class="thumb"><a href="#"><img src="~/Assets/HomePage/images/kn6.jpg" alt="" /></a></div>
            <h2><a href="#">Tỷ phú nông dân với thương hiệu 'Chanh không hạt Vica'</a></h2>
            <p class="date">15:39 28/11/2015</p>
            <p> Bằng sự tiên phong, năng động trong việc trồng và xuất khẩu chanh không hạt Vica, mỗi năm bà Bùi Thị Ba thu lợi hàng tỷ đồng.
     Tại Long An, trong số những người giàu lên từ nông nghiệp, bà Bùi Thị Ba ở xã Lương Hòa, huyện Bến Lức được xem là thành công cả về sản xuất và kinh doanh. Nhiều năm trước, người nông dân ở vùng đất nhiễm...</p>
            <a class="continue" href="#">Đọc tiếp</a>
        </div>
        <!-- end post -->
        <!-- begin post -->
        <div class="post">
            <div class="thumb"><a href="#"><img src="~/Assets/HomePage/images/kn7.jpg" alt="" /></a></div>
            <h2><a href="#">Nghệ núi Cấm: Trồng chơi kiếm cả chục triệu đồng</a></h2>
            <p class="date">15:35 28/11/2015</p>
            <p>Trồng xen canh dưới tán cây vườn, không cần chăm sóc, bón phân nhưng chỉ sau vài tháng, người dân núi Cấm kiếm được cả chục triệu đồng.
    Tận dụng đất trống dưới tán vườn cây ăn trái, người dân núi Cấm (xã An Hảo, huyện Tịnh Biên, tỉnh An Giang) cho trồng xen canh cây nghệ để tăng thu nhập. </p>
            <a class="continue" href="#">Đọc tiếp</a>
        </div>
        <!-- end post -->
        <!-- begin post -->
        <div class="post">
            <div class="thumb"><a href="#"><img src="~/Assets/HomePage/images/kn9.jpg" alt="" /></a></div>
            <h2><a href="#">Trồng cỏ nuôi bò xen trong vườn dừa hiệu quả kinh tế cao</a></h2>
            <p class="date">15:33 28/11/2015</p>
            <p>Hiện nay toàn xã Phú Long huyện Bình Đại có trên 800 ha dừa, đây là một trong những xã có diện tích dừa lớn nhất của huyện. Tuy nhiên thời gian gần đây do dừa trái rớt giá nên thu nhập từ vườn dừa không cao, trong khi đa phần người trồng dừa ở Phú Long đang gặp nhiều khó khăn...</p>
            <a class="continue" href="#">Đọc tiếp</a>
        </div>
        <!-- end post -->
        <!-- begin post navigation -->
        <div class="postnav">
            <ul>
                <li><a href="#">1</a></li>
                <li><a href="#">2</a></li>
                <li><a href="#">&raquo;</a></li>
            </ul>
            <div class="break"></div>
        </div>
        <!-- end post navigation -->
    </div>
    <!-- END content -->
 <!-- BEGIN sidebar -->
 <div id="sidebar">

        <div class="wrapper">
            <!-- begin popular posts -->
            <h2>Tin mới nhất</h2>
            <ul>
                <li><a href="#">Hội thảo sơ kết dự án khuyến nông trung ương lĩnh vực chăn nuôi</a></li>
                <li><a href="#">Công nghệ mới trong chăn nuôi cá biển</a></li>
                <li><a href="#">Thâm canh cà phê hợp lý để nâng cao hiệu quả và phát triển bền vững</a></li>
                <li><a href="#">Lâm Đồng: Sơ kết 3 năm thực hiện tái canh cà phê</a></li>
                <li><a href="#">Tuần lễ Nông dân ASEAN năm 2015 tại Phi-lip-pin</a></li>
            </ul>
            <!-- end popular posts -->
            
    </div>
    <!-- END sidebar -->
</div>
<!-- END wrapper -->
