@{
    ViewBag.Title = "Trang chủ_1234";
    Layout = "~/Views/Shared/_LayoutView.cshtml";
}

<link rel="stylesheet" type="text/css" href="~/Assets/HomePage/style.css" />
<!-- BEGIN wrapper -->
<div id="wrapper">

    <div id="content">
        <!-- begin post -->
        <div class="post">
            <div class="thumb"><a href="#"><img src="~/Assets/HomePage/images/_thumb1.jpg" alt="" /></a></div>
            <h2><a href="#">Khoai lang xuất khẩu tăng giá</a></h2>
            <p class="date">16:00 28/11/2015</p>
            <p>Hiện thương lái tìm mua khoai lang tím Nhật với giá 800.000 - 850.000 đồng/tạ (tính 60kg/tạ), tăng gấp nhiều lần so với thời điểm quý 2-2015 giá chỉ 100.000 - 150.000 đồng/tạ. Giá khoai tăng do nhu cầu xuất khẩu sang thị trường Trung Quốc đang hút hàng và vụ khoai ở ĐBSCL đang vào mùa nghịch nên sản lượng rất ít....</p>
            <a class="continue" href="#">Đọc tiếp</a>
        </div>
        <!-- end post -->
        <!-- begin post -->
        <div class="post">
            <div class="thumb"><a href="#"><img src="~/Assets/HomePage/images/_thumb2.jpg" alt="" /></a></div>
            <h2><a href="#">Lượng giá mô hình cơ giới hóa trên rau</a></h2>
            <p class="date">15:50 28/11/2015</p>
            <p>Để chuyển giao các kiến thức liên quan đến cơ giới hóa trên cây rau theo định hướng phát triển chuyển đổi cơ cấu kinh nông nghiệp đô thị, giúp nông dân tăng thu nhập,...</p>
            <a class="continue" href="#">Đọc tiếp</a>
        </div>
        <!-- end post -->
        <!-- begin post -->
        <div class="post">
            <div class="thumb"><a href="#"><img src="~/Assets/HomePage/images/_thumb1.jpg" alt="" /></a></div>
            <h2><a href="#">A cras tincidunt, ut tellus et Gravida Ipsum</a></h2>
            <p class="date">Posted on January 7, 2008 by admin</p>
            <p>Elementum ea, nibh et, velit sed sagittis. Ipsum libero. Viverra integer enim, sed dolor. Inceptos elit, vitae et. Eget eget nec, lectus nisl, vehicula est feugiat. cum condimentum mattis dui fusce ut, vel convallis suspendisse suspendisse sed in. Libero blandit curae at magna ut, id mauris suspendisse ligula neque integer non.</p>
            <a class="continue" href="#">Đọc tiếp</a>
        </div>
        <!-- end post -->
        <!-- begin post -->
        <div class="post">
            <div class="thumb"><a href="#"><img src="~/Assets/HomePage/images/_thumb2.jpg" alt="" /></a></div>
            <h2><a href="#">A cras tincidunt, ut tellus et Gravida Ipsum</a></h2>
            <p class="date">Posted on January 7, 2008 by admin</p>
            <p>Elementum ea, nibh et, velit sed sagittis. Ipsum libero. Viverra integer enim, sed dolor. Inceptos elit, vitae et. Eget eget nec, lectus nisl, vehicula est feugiat. cum condimentum mattis dui fusce ut, vel convallis suspendisse suspendisse sed in. Libero blandit curae at magna ut, id mauris suspendisse ligula neque integer non.</p>
            <a class="continue" href="#">Đọc tiếp</a>
        </div>
        <!-- end post -->
        <!-- begin post -->
        <div class="post">
            <div class="thumb"><a href="#"><img src="~/Assets/HomePage/images/_thumb1.jpg" alt="" /></a></div>
            <h2><a href="#">A cras tincidunt, ut tellus et Gravida Ipsum</a></h2>
            <p class="date">Posted on January 7, 2008 by admin</p>
            <p>Elementum ea, nibh et, velit sed sagittis. Ipsum libero. Viverra integer enim, sed dolor. Inceptos elit, vitae et. Eget eget nec, lectus nisl, vehicula est feugiat. cum condimentum mattis dui fusce ut, vel convallis suspendisse suspendisse sed in. Libero blandit curae at magna ut, id mauris suspendisse ligula neque integer non.</p>
            <a class="continue" href="#">Đọc tiếp</a>
        </div>
        <!-- end post -->
        <!-- begin post -->
        <div class="post">
            <div class="thumb"><a href="#"><img src="~/Assets/HomePage/images/_thumb2.jpg" alt="" /></a></div>
            <h2><a href="#">A cras tincidunt, ut tellus et Gravida Ipsum</a></h2>
            <p class="date">Posted on January 7, 2008 by admin</p>
            <p>Elementum ea, nibh et, velit sed sagittis. Ipsum libero. Viverra integer enim, sed dolor. Inceptos elit, vitae et. Eget eget nec, lectus nisl, vehicula est feugiat. cum condimentum mattis dui fusce ut, vel convallis suspendisse suspendisse sed in. Libero blandit curae at magna ut, id mauris suspendisse ligula neque integer non.</p>
            <a class="continue" href="#">Đọc tiếp</a>
        </div>
        <!-- end post -->
        <!-- begin post -->
        <div class="post">
            <div class="thumb"><a href="#"><img src="~/Assets/HomePage/images/_thumb1.jpg" alt="" /></a></div>
            <h2><a href="#">A cras tincidunt, ut tellus et Gravida Ipsum</a></h2>
            <p class="date">Posted on January 7, 2008 by admin</p>
            <p>Elementum ea, nibh et, velit sed sagittis. Ipsum libero. Viverra integer enim, sed dolor. Inceptos elit, vitae et. Eget eget nec, lectus nisl, vehicula est feugiat. cum condimentum mattis dui fusce ut, vel convallis suspendisse suspendisse sed in. Libero blandit curae at magna ut, id mauris suspendisse ligula neque integer non.</p>
            <a class="continue" href="#">Đọc tiếp</a>
        </div>
        <!-- end post -->
        <!-- begin post -->
        <div class="post">
            <div class="thumb"><a href="#"><img src="~/Assets/HomePage/images/_thumb2.jpg" alt="" /></a></div>
            <h2><a href="#">A cras tincidunt, ut tellus et Gravida Ipsum</a></h2>
            <p class="date">Posted on January 7, 2008 by admin</p>
            <p>Elementum ea, nibh et, velit sed sagittis. Ipsum libero. Viverra integer enim, sed dolor. Inceptos elit, vitae et. Eget eget nec, lectus nisl, vehicula est feugiat. cum condimentum mattis dui fusce ut, vel convallis suspendisse suspendisse sed in. Libero blandit curae at magna ut, id mauris suspendisse ligula neque integer non.</p>
            <a class="continue" href="#">Đọc tiếp</a>
        </div>
        <!-- end post -->
        <!-- begin post navigation -->
        <div class="postnav">
            <ul>
                <li><a href="#">1</a></li>
                <li><a href="#">2</a></li>
                <li><a href="#">&raquo;</a></li>
            </ul>
            <div class="break"></div>
        </div>
        <!-- end post navigation -->
    </div>
    <!-- END content -->
 <!-- BEGIN sidebar -->
 <div id="sidebar">

        <div class="wrapper">
            <!-- begin popular posts -->
            <h2>Tin mới nhất</h2>
            <ul>
                <li><a href="#">Hội thảo sơ kết dự án khuyến nông trung ương lĩnh vực chăn nuôi</a></li>
                <li><a href="#">Công nghệ mới trong chăn nuôi cá biển</a></li>
                <li><a href="#">Thâm canh cà phê hợp lý để nâng cao hiệu quả và phát triển bền vững</a></li>
                <li><a href="#">Lâm Đồng: Sơ kết 3 năm thực hiện tái canh cà phê</a></li>
                <li><a href="#">Tuần lễ Nông dân ASEAN năm 2015 tại Phi-lip-pin</a></li>
            </ul>
            <!-- end popular posts -->
            
    </div>
    <!-- END sidebar -->
</div>
<!-- END wrapper -->
