<!DOCTYPE html>
<html>
<head>
    <title>Trung tâm khuyến nông 46</title>
    <link href="~/Assets/User/css/style.css" rel="stylesheet" type="text/css" media="all" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <link href='http://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'>
    <!--slider-->
    <link href="~/Assets/User/css/slider.css" rel="stylesheet" type="text/css" media="all" />
    <link href="~/Assets/User/css/bootstrap.css" rel="stylesheet" type="text/css" media="all" />
    <link href="~/Assets/User/css/logo-nav.css" rel="stylesheet" type="text/css" media="all" />
    <script type="text/javascript" src="~/Assets/User/js/jquery-1.9.0.min.js"></script>
    <script type="text/javascript" src="~/Assets/User/js/jquery.nivo.slider.js"></script>
    <script type="text/javascript">
        $(window).load(function () {
            $('#slider').nivoSlider();
        });
    </script>
    <link rel="shortcut icon" href="~/Assets/admin/images/bk.png">
</head>
<body>
    <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            @*<div class="navbar-header">
                <ul class="nav navbar-nav">
                    <a class="active" href="#">
                        <img src="~/Assets/admin/images/bk.png" alt="" width="60" height="50">              
                         <h3 style="align-content:center">Hội khuyến nông 46</h3>
                    </a>
                </ul>
            </div>*@
           <div class="navbar-header">               
                    @*<li><a href='~/Assets/User/index.html'><span></t></t></span></a></li>*@
               <ul class="nav navbar-nav">
                   <a class="active" href="#">
                       <img src="~/Assets/admin/images/khuyennong.png" alt=""> @*<h4 style="align-content:center">Hội khuyến nông 46</h4>*@
                   </a>
               </ul>
</div>
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                   <li><a href='~/Assets/User/index.html'><span>       </t></span></a></li>
                   <li class='active'><a href="http://localhost:6317/HomePage/Index"><span></t>Trang chủ</span></a></li>
                       <li><a href='about.html'><span>Tin tức</span></a></li>
                       <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">Kiến thức</a>
                            <ul class="dropdown-menu">
                                <li><a href="#">Hỏi Đáp</a></li>
                                <li><a href="#">Khảo Sát</a></li>
                                <li><a href="#">Đăng Bài</a></li>
                                @*<%--<li><a href="#">Shortcodes</a></li>--%>*@
                            </ul>
                        </li>
                        <li><a href='~/Assets/User/gallery.html'><span>Giá cả</span></a></li>
                        <li><a href='~/Assets/User/blog.html'><span>Tra cứu</span></a></li>
                        <li><a href='~/Assets/User/contact.html'><span>Liên hệ</span></a></li>
                        
                        @*<div class="clear"></div>*@
                </ul>

                <div class="search_box">
                    @using (Html.BeginForm("searchResult", "search"))
                    {
                        <input type="text" name="keys" value="Search" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Search';}">
                        <input type="submit" value="">                    
                    }
                  
                </div>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container -->
    </nav>

    @RenderBody();
    <div class="footer-bottom">
        <div class="wrap">
            <div class="copy">
                <p> © 2013 All rights Reserved | Create by Team 46</p>
            </div>
        </div>
    </div>
</body>
</html>



